*{
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
}
#cover{
   padding: 30px;;
    height :85vh;
    width: 30vw;
    margin: auto;
    border-radius: 29px;
    background-color: rgb(102, 101, 101);
}
#screen{
    margin:20px;
   
    border-top: 4px solid black;
    border-left:4px solid black;
    width: 90%;
    font-size:40px;
    font-weight: 400;
    height:80px;
    padding: 10px;
    background-color:rgb(157 251 157);

}
.button{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;

}
.btn{
    height: 68px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6); 
    border-bottom: 2px solid black;
    width: 85px;
    margin:10px;
    font-size: 20px;
    font-weight: 300;

}
.btn:active{
   background-color: rgb(203, 203, 197);
}
.extra{
    background-color: rgb(111, 190, 226);
}
.extra:active{
    background-color: rgb(163, 216, 241);;
}
.symbol{
    background-color: rgb(214, 105, 105);
}
.symbol:active{
    background-color: rgb(239, 135, 135);
} 

#cover{
    box-shadow: 4px 4px black; 
}
